/* GLOBAL STYLES */
body {
  display: flex;
  flex-direction: column;
  font-family: helvetica, arial, sans;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;

}
.content-container {
  display: flex;
  flex-grow: 1;
  width: 100%;
}
h1 {
  font-size: 4vw;
  margin-top: 0;
  text-align: center;
}
.backdrop {
  background-size: cover;
  box-sizing: border-box;
  color: red;
  position: relative;
  height: 100vh;
  text-align: center;
  width: 100vw;
}
.backdrop-game {
  background-image: url(/tsp-street.jpg);
  background-position: center center;
}

/* COLUMN STYLES */
.game-top {
  flex-direction: row;
  height: 60vh;
  margin-bottom: -20%;
  position: relative;
  width: 100vw;
}
.game-bottom {
  flex-direction: row;
  height: 20vh;
  position: relative;
  width: 100vw;
  z-index: 100;
}
.game-col-trio {
  display: flex;
  flex: 1;
}
.col {
  padding: 2em;
}
.game-col-trio .col-chat {
  flex: 1 0.25 15em;
}
.game-col-trio .col-bestie {
  flex: 1.25 0.25 20em;
}
.game-col-trio .col-score {
  flex: 0.75 1 15em;
}
.game-col-trio .col-tickle {
  flex: 0 1 20em;
}
.game-col-trio .col-hug {
  flex: 0 1 20em;
}
.game-col-trio .col-punch {
  flex: 0 1 15em;
}

/* CHAT AREA STYLES */
.chat-content img {
  box-sizing: border-box;
  transform: translate(19%, -20%);
  width: 125%;
}
.npcDialogue {
  position: relative;
  text-align: center;
  color: #000;
}
.chat-bubble {
  font-size: 1.25em;
  position: absolute;
  padding: 0 0 0 35%;
  top: 8px;
  right: 16px;
}

/* BESTIE FACE AREA STYLES */
.bestie-face img {
  box-sizing: border-box;
  transform: translate(0%, -10%);
  width: 75%;
}

/* SCORE AREA STYLES */
.score-content h1 {
  box-sizing: border-box;
  margin-left: -10%;
  transform: translate(-30%, 0%);
  width: 100%;
}

/* TICKLE AREA STYLES */
.tickle img {
  box-sizing: border-box;
  transform: translate(85%, 15%);
  width: 100%;
}

/* HUG AREA STYLES */
.hug img {
  box-sizing: border-box;
  transform: translate(46%, 77%);
  width: 80%;
}

/* LOVE PUNCH AREA STYLES */
.punch img {
  box-sizing: border-box;
  transform: translate(20%, 50%);
  width: 10%;
}

/* JAVASCRIPT IDs */
#npcRighthand {
  background-clip: content-box;
  height: 100%;
  width: 100%;
  z-index: 10;
}
#npcLefthand {
  background-clip: content-box;
  justify-self: start;
  align-self: end;
  height: 100%;
  width: 100%;
  z-index: 10;
}
#npcScore{
  text-align: center;
  text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;
  color: #000;
  font-size: 2.5vw;
  font-weight: bolder;
}
#yourScore {
  text-align: center;
  text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;
  color: #000;
  font-size: 2.5vw;
  font-weight: bolder;
}
#count {
  columns: white;
}