/*Tickle, Slap, Punch by Rob Guarino April, 2022 for The Odin Project Rock Paper Scissors challenge.*/
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  } */

/* body, html {
  height: 100%;
} */

body {
    display: grid;
    background-color: teal;   
}

/* GLOBAL STYLES */
body {
  font-family: helvetica, arial, sans;
}
h1 {
  font-size: 5vw;
  margin-top: 0;
}

/* HERO STYLES */
.full-hero {
  background-color: red;
  height: 10vh;
}

/* BESTIE STYLES  */
.bestie-wrapper {
  font-size: 24px;
  margin: auto;
  max-width: 960px;
  overflow: hidden;
}

.bestie-right-hand {
  border: 1px solid black;
  box-sizing: border-box;
  float: left;
  font-size: 1rem;
  margin: 40px 1% 0;
  padding: 2%;
  width: 18%;
}
.bestie-face {
  border: 1px solid black;
  box-sizing: border-box;
  float: left;
  font-size: 1rem;
  margin: 40px 1% 0;
  padding: 2%;
  width: 18%;
}
.bestie-left-hand {
  border: 1px solid black;
  box-sizing: border-box;
  float: left;
  font-size: 1rem;
  margin: 40px 1% 0;
  padding: 2%;
  width: 18%;
}

/* PLAY AREA STYLES */
.play-area {
  border: 1px solid black;
  box-sizing: border-box;
  float: left;
  font-size: 1rem;
  margin: 40px 1% 0;
  padding: 2%;
  width: 18%;
}

/* CHAT AREA STYLES */
.chat-area {
  border: 1px solid black;
  box-sizing: border-box;
  float: left;
  font-size: 1rem;
  margin: 40px 1% 0;
  padding: 2%;
  width: 18%;
}

.grid-container {
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 500px;

    grid-template-areas: 
    "gameTitle gameTitle gameTitle gameTitle gameTitle"
    "npcDialogue . . . ."
    " . npcFace npcFace ."
    " . npcRighthand npcFace npcFace npcLefthand";

}

  .grid-container > div {    
    font-size: 30px;
  }

  /* .gameTitle { 
    display: grid;
    grid-area: 1 / 1 / span 1 / span 5;
    text-align: center;
  } */

  .npcFace { 
    display: grid;
    justify-content: center;
    grid-area: 2 / 2 / span 2 / span 3;
  }

  #npcFace {
    display: grid;
    height: 100%;
    width: 100%;
    z-index: 10;
    
  }

  .npcRighthand { 
    display: grid;
    grid-area: 2 / 2 / span 1 / span 2;
    justify-items: stretch;
    padding: 50px 120px 0px 0px;
    z-index: 11;
  }

  #npcRighthand {
    display: grid;
    background-clip: content-box;
    justify-self: start;
    align-self: end;
    height: 100%;
    width: 100%;
    z-index: 10;
 
  }

  .npcLefthand { 
    display: grid;
    grid-area: 2 / 3 / span 1 / span 2;
    justify-items: stretch;
    padding: 70px 0px 0px 115px; 
    z-index: 10;
  }

  #npcLefthand {
    display: grid;
    background-clip: content-box;
    justify-self: start;
    align-self: end;
    height: 100%;
    width: 100%;
    z-index: 10;
    
  }

  .npcDialogue { 
    display: grid;
    color: white;
    margin: 50px 0px 0px 0px;
    grid-area: 2 / 1 / span 1 / span 2;
    text-align: center;
    justify-self: center;
 
  }

  .playerInteraction { 
    display: grid;
    margin: 0px 0px 50px 0px;
    grid-area: 2 /  5/ span 1 / span 1;
  } 

  #npcScore{
    color: white;
  }

  #yourScore {
    color: white;
  }

  #count {
    columns: white;
  }