/* GLOBAL STYLES */
body {
  font-family: helvetica, arial, sans;
  /* background-color: #008080; */ 
  position: relative;

}
h1 {
  font-size: 4vw;
  margin-top: 0;
  text-align: center;
}
.backdrop {
  background-image: url(/images/tsp-cityscape.jpg);
  background-position: center bottom;
  height: 100vh;
  width: 100vw;
}

/* HERO STYLES */
.full-hero {
  height: 10vh;
  padding: 1%;
  text-align: center;
  transform: translate(26%, 0%);
  width: 60vw;
}
.hero-home {

}

/* BESTIE STYLES  */
.bestie-wrapper {
  font-size: 24px;
  margin: auto;
  max-width: 1080px;
  overflow: visible;
}
.bestie-face {
  box-sizing: border-box;
  float: left;
  font-size: 1rem;
  padding: 2%;
  position: relative;
  top: 0;
  left: 0;
  width: 38%;
}
.bestie-right-hand {
  box-sizing: border-box;
  float: left;
  font-size: 1rem;
  position: absolute;
  /* top: 175px;
  left: -150px; */
  padding: 2%;
  transform: translate(-55%, -70%);
  width: 78%;
}
.bestie-left-hand {
  box-sizing: border-box;
  float: left;
  font-size: 1rem;
  position: absolute;
  /* top: 175px;
  left: 250px; */
  padding: 2%;
  transform: translate(75%, -69%);
  width: 78%;
}

/* PLAY AREA STYLES */
.play-area-wrapper {
  box-sizing: border-box;
  float: left;
  font-size: 1rem;
  margin: 40px 1% 0;
  position: relative;
  top: 0;
  left: 0;
  padding: 2%;
  text-align: center;
  width: 28%;
}
.play-area {
  position: absolute;
  /* top: 10px;
  left: 10px; */
  transform: translate(0%, 0%);
  z-index: 110;
}
/* .player-interaction {
  text-align: center;
} */
.win-condition {
  text-align: center;
  color: #fff;
  font-size: 3vw;
  font-weight: bolder;
}
.shadow-text {
  text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
}

/* CHAT AREA STYLES */
.chat-area-wrapper {
  box-sizing: border-box;
  float: left;
  font-size: 1rem;
  margin: 40px 1% 0;
  position: relative;
  top: 0;
  left: 0;
  padding: 2%;
  width: 28%;
  z-index: 110;
}
.chat-area {
  font-size: 3vw;
  position: absolute;
  /* top: 100px;
  left: -75px; */
  transform: translate(0%,33%);
  z-index: 100;
}
.npcDialogue { 
  color: white;
  text-align: center;
}

/* JAVASCRIPT IDs */
#npcRighthand {
  background-clip: content-box;
  height: 100%;
  width: 100%;
  z-index: 10;
}
#npcLefthand {
  /* background-clip: content-box; */
  /* justify-self: start;
  align-self: end; */
  height: 100%;
  width: 100%;
  z-index: 10;
}
#npcScore{
  text-align: center;
  text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;
  color: #000;
  font-size: 2.5vw;
  font-weight: bolder;
}
#yourScore {
  text-align: center;
  text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;
  color: #000;
  font-size: 2.5vw;
  font-weight: bolder;
}
#count {
  columns: white;
}