<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <title>Tickle, Hug, Love Punch!</title>
</head>
<body>
    <div class="content-container">
        {{ content }}
    </div>
</body>
<!--
    "Tickle, Slap, Punch"
    Rob Guarino April, 2022 for The Odin Project Rock Paper Scissors challenge.
    Thanks to all individual knowledge sharers in communities such as StackOverlow and W3Schools.
    Special thanks 'Wet Bulb Temperature' for timer tutorial https://www.youtube.com/watch?v=sRdCCVGuqHc
    Vector graphics Emoticons from OpenClipart-Vectors at pixabay. 
    Hearts from Clker-Free-Vector-Images and Maiconfz.
    Thanks for playing!
-->
</html>